.pokecard {

    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .pokecard:hover {
    transform: scale(1.05); 
  }
  
  .pokecard-content {
    padding: 10px;
    text-align: center;
  }
  

